@font-face{
    font-family: 'Chalet';
    src: url('../fonts/Chalet.ttf') format('truetype');
}
@font-face{
    font-family: 'Chalet-Comprime';
    src: url('../fonts/ChaletComprimeCologneEighty.ttf') format('truetype');
}


//cores
$preto: #000;
$branco: #fff;
$vermelho: red;
//cores

body{
font-family:'Chalet', Arial, Helvetica, sans-serif;
}

//FONTS
h1, h2, h3, h4, h5,.f-ChaletComprime{
    font-family: 'Chalet-Comprime', Arial, Helvetica, sans-serif;
}
.f-ChaletComprime{
    font-size: 1.3rem;
}
h2{
    font-size: 2.5rem;
}
//.FONTS

//nav
.fixed-height{
height: 60px;
}
.mini-logo{
    display: block;
    height: 8rem;
    width: 5rem;
}
.img-90{
    width: 90%;
    height: auto;
}


.navbar-nav{
    font-family: "Chalet-Comprime";
    font-size: 1.5rem;
    .nav-item{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
@media(max-width:991px){
    .fixed-height{
        height: auto;
    }
    .fixed-top{
        position: relative;
    }
    .mini-logo{
        display: none;
    }
}
//nav

.section-bg-1{
    color:white;
    background-attachment: fixed;
    background-image: url('../img/parallax-bg.png');
    background-color: $preto;
    width: 100%;
}

.description{
    background-color: rgba($preto,0.5);
    bottom:0;
    color:#fff;
    height: 20%;
    left:15px;
    right: 15px;
    position: absolute;
    transition: 1s;
    border-radius: 5px;
    padding-top: 7%;
    &:hover{
        height: 100%;
        padding-top: 50%;
    }
}

.hr-25{
width: 50px;
display: inline-block;
background-color: $branco;
margin-bottom: 5px;
margin-right: 10px;
margin-left: 10px;
}

@media(max-width:442px){
    .hr-25{
        display: block;
        text-align: center;
        margin: 5px auto;
    }
}
.mt-6{
    margin-top: 4rem;
}

.carousel-inner, .carousel-inner a {
    font-family: "Chalet-Comprime";
    font-size: 1.6rem;
}
@media(max-width:767px){
    .carousel-inner{
    font-size: 1.5rem;
    }
}
//MAPA
.map{
    width: 100%;
    height: 450px;
    position: relative;
}

#map {
	height: 100%;
}
//FIM MAPA

//BACKGROUNDS
.bg-black{
    background-color: lighten($preto,10%);
    color:$branco;
}

//sobrescrevendo bootstrap
.bg-dark{
    background-color: rgba($preto,0.8) !important;
}

//TEXTOS
.text-gray{
    color: lighten($preto, 50%);
}
.underlined-title{
    font-size: 3rem;
    border-bottom: 2px solid $preto;
}

//FIM TEXTOS

.img-product-col{
 width: 150px;
 height: 180px;
}
 
.img-product-name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($preto,0.5);
    color: $branco;
    cursor: pointer;
    top:0;
    opacity: 0;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: -10px;
    right: 0;
    transition: 0.5s;
    width: 100%;
        &:hover{
            opacity: 1;
        }
}
//FORM
.form-bordered{

    input, textarea{
        background-color: transparent;
        border: 2px solid $branco;
        border-radius: 0.7rem;
        color: $branco;
        &:focus{
            background-color: transparent;
            outline: none;
        }
        &::placeholder{
            color: rgba($branco,0.5);
        }
    }

}
//FORM

//FOOTER
footer{
    font-family: 'Chalet-Comprime';
    font-size: 1.4rem;
}
.copyright{
    font-size: 1rem;
    background-color: $preto;
    margin: 0;
    a{
        color: $vermelho;
        outline: none;
    }
}
//.FOOTER


